.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 15px;
}

.category-box {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #222;
  border: 1px solid #ddd;
}

.category-box:hover {
  background: #ddd;
}
